$formPColor:#00A4C6;
$color: #ECECEC;
$mainBackgroundImage:url(../img/header_background_v1.jpg);
$pageFont: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica,sans-serif;
$postcolor: red;
$postBackground:#EFEFEF;
$btnBackground:#01ACAC;
$mainWrapperBackColor:white;	
$inputBackColor:white;
$inputBorder: 1px solid #D3DBDE;
