$formPColor:#7A8592;
$color: #FF5722;
$mainBackgroundImage:url(../img/header_background_v2.jpg);
$pageFont: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;;
$mainWrapperBackColor:#EFEFEF;
$inputBackColor:#EFEFEF;
$inputBorder: 1px solid #D3DBDE;
$postcolor: #C4CFE2;
$postBackground:#FFFFFF;
$btnBackground:#0401AC;